* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

.pending-request-status-wrapper {
  width: 100%;
  margin: 10px 0 20px 0;
}

.pending-request-search {
  width: 280px;
  height: 35px;
  float: left;
  border-radius: 5px;
  border: 1px solid rgb(169, 169, 169);
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.pending-request-status {
  float: right;
  margin-top: 8px;
  margin-right: 20px;
  display: flex;
}
.pending {
  animation: blinkDot 1s infinite;
}
@keyframes blinkDot {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.pending-request-table-wrapper {
  width: 100%;
  /* background-color: aquamarine; */
}

.pending-request-table-header {
  width: 100%;
  height: 55px;
  display: flex;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px 5px 0 0;
  margin-bottom: 2px;
  background-color: white;
  padding: 17px 0 17px 0;
}

#pending-request-body-col1 {
  width: 10%;
  font-size: 14px;
  font-weight: bold;
}

#pending-request-body-col2 {
  width: 15%;
  font-size: 14px;
  font-weight: bold;
}

#pending-request-body-col3 {
  width: 35%;
  font-size: 14px;
  font-weight: bold;
}

#pending-request-body-col4 {
  width: 15%;
  font-size: 14px;
  font-weight: bold;
}

#pending-request-body-col5 {
  width: 10%;
  font-size: 14px;
  font-size: 14px;
  font-weight: bold;
}
#pending-request-body-col6 {
  width: 15%;
  font-size: 14px;
  font-size: 14px;
  font-weight: bold;
}

.pending-request-table-body {
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgb(217, 217, 217);
  border-left: 1px solid rgb(217, 217, 217);
  border-right: 1px solid rgb(217, 217, 217);
  padding: 10px 0 10px 0;
}

.pending-request-table-body:hover {
  background-color: rgb(248, 226, 203);
  transform: scale(1.007);
}

.pending-request-body-col1 {
  width: 10%;
  font-size: 14px;
  color: rgb(235, 82, 0);
}

.pending-request-body-col1 p {
  color: black;
}

.pending-request-body-col2 {
  width: 15%;
  font-size: 14px;
  color: rgb(76, 76, 76);
}

.pending-request-body-col3 {
  width: 35%;
  font-size: 14px;
  color: rgb(76, 76, 76);
}

.pending-request-body-col4 {
  width: 15%;
  font-size: 14px;
  color: rgb(76, 76, 76);
}

.pending-request-body-col5 {
  width: 10%;
  font-size: 14px;
  color: rgb(76, 76, 76);
}
.pending-request-body-col6 {
  width: 15%;
  font-size: 14px;
  color: rgb(76, 76, 76);
}
